POSTGRES_USER=nikita
POSTGRES_PASSWORD=secure_password_here
POSTGRES_DB=botshop
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
TELEGRAM_BOT_TOKEN=your_bot_token_here
MANAGER_CHAT_ID=your_manager_chat_id_here
DEBUG=True
FRONTEND_URL=https://surfjw.surf
FRONTEND_DEV_URL=http://localhost:5173
